<%= content_tag(:div, class: "d-flex flex-column justify-content-center align-items-center") { %>
  <%= form_for @rock_game, html: {class: "row g-3"} do |f| %><hr>
    <%= f.label :moves, "Enter your moves" %>
    <%= f.text_field :moves, list: 'moves', placeholder: "Enter your own...",
                     class: "form-control", autocomplete: "off" %>
    <datalist id="moves">
      <option></option>
      <% @types.each do |type| %>
        <option value="<%= type %>"></option>
      <% end %>
    </datalist>
    <p>
      <%= f.submit 'Send', class: "btn btn-primary" %>
    </p>
  <% end %>
<% } %>