<%= javascript_include_tag  'custom' %>
<%= yield :javascript_includes %>

<h1>Game #<%= @rock_game.id %></h1>

<%= content_tag(:div, class: "d-flex flex-column justify-content-center align-items-center") { %>
  <div id="game" class="game">
    <% @moves.each do |move| %>
      <button id="<%= move %>">
        <%= move.capitalize %>
      </button>
    <% end %>
  </div>
<% } %>

<div id="output">
  <h1 id="result"></h1>
</div>

<div id="score-output">
  <h2 id="score"></h2>
</div>

<!--<div id="computer" class="computer">-->
<!--  <p id='computer_result'></p>-->
<!--</div>-->

<div id="room-id" data-room-id="<%= @rock_game.id %>">
  <div id="msg-<%= @rock_game.id %>">
  </div>
</div>

<script>
    let player_score_count = 0
    let computer_score_count = 0

    const getNumberResult = a=>b=>a!=b&&a>b^614>>((g=s=>parseInt(s,31)%9)(a)^g(b))&1

    function getResultMessage(firstMove, secondMove) {
        if (getNumberResult(firstMove)(secondMove) === 0) {
            player_score_count++;
            return 'You win';
        }
        if (getNumberResult(firstMove)(secondMove) === 1) {
            computer_score_count++
            return 'You lose';
        }
        if (getNumberResult(firstMove)(secondMove) === false) {
            return 'Draw';
        }
    }

    function getGameResult(playerSelection) {
        const gameList = ['rock', 'paper', 'scissors']
        const computerSelection = gameList[Math.floor(Math.random() * 3)];

        const computer = document.getElementById('computer_result')
        computer.innerHTML = `<span>${computerSelection}</span>`

        let parent = document.querySelector('#computer')
        parent.appendChild(computer)

        const result = document.getElementById('result')
        result.textContent = getResultMessage(playerSelection, computerSelection)

        const score = document.getElementById('score')
        score.textContent = `Score: ${player_score_count} vs ${computer_score_count}`

        parent = document.querySelector('#output')
        parent.appendChild(result)

        parent = document.querySelector('#score-output')
        parent.appendChild(score)
    }

    const buttons = document.querySelectorAll('#game button');

    buttons.forEach((button) => {

        button.addEventListener('click', () => {
            getGameResult(button.id);
        });
    });
</script>