<%= form_with(model: move) do |form| %>
  <% if move.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(move.errors.count, "error") %> prohibited this move from being saved:</h2>

      <ul>
        <% move.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div id="accept-form">
  <%= form.hidden_field :room_id, value: room.id %>

  <%= form.hidden_field :user_id, value: current_user.id %>

  <%= content_tag(:div, class: "d-flex flex-column justify-content-center align-items-center") { %>

    <div class="col-auto">
      <%= form.hidden_field :content, placeholder: "Click on button...", class: 'form-control', id: "move-choice", readonly: true %>
    </div>

    <div id="accept-button" class="col-auto"><br>
      <%= form.submit "Add Move", class:'btn btn-primary btn-sm' %>
    </div>
</div>


<% } %>

<% end %>

<script type="text/javascript">
  const accept = document.querySelector("#accept-button input")
  console.log(accept)
  accept.addEventListener('click', () => {
            document.getElementById('accept-form').style.display = 'none';
        });

  
</script>
