<div id="room-id" data-room-id="<%= @room.try(:id) %>"></div>

<div id="user-id" data-user-id="<%= current_user.id %>"></div>

<h1>
  Game room #<%= @room.id %>
</h1>


<%= content_tag(:div, class: "d-flex flex-column justify-content-center align-items-center") { %>
  <div id="game" class="game">
    <% @moves.each do |move| %>
      <button id="<%= move %>">
        <%= move.capitalize %>
      </button>
    <% end %>
  </div>
<% } %>

<div class="chat-room">

   <p><%= @room.name %></p>

    <div id="moves">
      

      <div id="game-result">
      </div>
      
    </div>

   <div id="accept-button" class="chat-box">
     <%= render 'moves/form', move: 
     Move.new, room: @room %>
   </div>

</div>     




<script>
  const buttons = document.querySelectorAll('#game button');
  buttons.forEach((button) => {

        button.addEventListener('click', () => {
            document.getElementById('move-choice').value = button.id
            // getGameResult(button.id);
        });
    });
</script>