<%= javascript_pack_tag 'rooms', 'data-turbolinks-track': 'reload' %>

<div id="room-id" data-room-id="<%= @room.try(:id) %>"></div>
<div id="user-id" data-user-id="<%= current_user.id %>"></div>

<h1>
  Game room #<%= @room.id %>
</h1><br>

<%= content_tag(:div, class: "d-flex flex-column justify-content-center align-items-center") { %>
  <div id="game" class="game">
    <% @moves.each.with_index(0) do |move, index| %>
      <button id="<%= move %>" class="btn btn-<%= @button_colors[index] %>">
        <%= move.capitalize %>
      </button>
    <% end %>
  </div>
<% } %><br>

<div class="chat-room">
    <div id="moves">
      <div id="game-result">
      </div>    
    </div>
   <div id="accept-button" class="chat-box">
     <%= render 'moves/form', move: 
     Move.new, room: @room %>
   </div>
</div>   

<p><br>
  <a class="btn btn-outline-light" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    Rules
  </a>
</p>

<div class="collapse" id="collapseExample">
  <div class="card card-body">
    <table class="table">
  <thead>
    <tr>
      <th scope="col"></th>
      <% @moves.each do |move| %>
        <th scope="col"><%= move %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% n = @moves.size %>
    <% @moves.each.with_index do |move, i| %>
      <tr> 
        <th scope="row"><%= move %></th>
        <% @moves.each.with_index do |_, j| %>
          <% number = (n + i - j) % n %>
          <td><%= get_message(number) %></td>
        <% end %>
      </tr>
    <% end %>       
  </tbody>
</table>
  </div>
</div>